@charset "utf-8";
@import url("../fonts/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li,
ul {
  list-style: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "SST W01 Roman", "Malgun Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: normal;
  color: #2f353d;
}

/* Common Class */
.container {
  position: relative;
  width: 100%;
  max-width: 119rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.fix {
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 9999;
}

.go-top {
  position: absolute;
  right: -14rem;
  bottom: 5rem;
  display: block;
  width: 4rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #fff;
  background-color: rgba(33, 37, 48, 0.4);
  border-radius: .125rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.go-top:hover {
  background-color: rgba(33, 37, 48, 0.8);
}

.go-top--show {
  visibility: initial;
  opacity: 1;
}

.wrap {
  position: relative;
  display: block;
}

/* Sony site */
.site {
  width: 100%;
  height: 75rem;
  background: #f1f5f9;
  padding: 2rem 0 5rem 0;
  margin-top: -75rem;
  transition: all .5s;
}

.site--open {
  margin-top: 0;
}

.site__close {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 8.6rem;
  height: 3.8rem;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
  background-color: #504d56;
  border: 0;
  padding: .9rem 1.3rem 1rem 1.3rem;
  cursor: pointer;
  transition: all .5s;
}

.site__close:hover {
  background-color: #212530;
}

.site__close i {
  position: absolute;
  right: .7rem;
  top: .9rem;
  font-size: 1.8rem;
}

/* Header */
.header {
  position: relative;
  display: block;
  width: 100%;
  height: 6.4rem;
  background-color: #000;
  z-index: 999999;
}

.header>.container {
  display: flex;
}

.header__logo {
  display: block;
  width: 10rem;
  margin: 1.9rem 3.5rem 0 3.5rem;
}

.gnb {
  display: block;
}

.gnb-list {
  display: block;
  font-size: 0;
}

.gnb-list>li {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 1rem;
}

.gnb-list>li>a {
  display: block;
  font-size: 1.5rem;
  line-height: 6.4rem;
  color: #e4e7eb;
  overflow: hidden;
  padding: 0 0.5rem;
  transition: all 0.3s;
}

.gnb-list>li>a:hover {
  color: #fff;
}

.gnb-list>li>a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.4rem;
  background: #336ef2;
  transition: all 0.3s;
}

.gnb-list>li>a:hover::after {
  bottom: 0;
}

.gnb-list>li>span {
  display: block;
  font-size: 1.5rem;
  line-height: 6.4rem;
  color: #e4e7eb;
  overflow: hidden;
  padding-left: 0.5rem;
  cursor: pointer;
}

.gnb-list>li>span:hover {
  color: #fff;
}

.gnb-list>li>span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.4rem;
  background: #336ef2;
  transition: all 0.3s;
}

.gnb-list>li>span:hover::after {
  bottom: 0;
}

.icon-down-micro {
  color: #83838f;
}

.gnb-list>li>span:hover .icon-down-micro {
  color: #fff;
}

.user-menu {
  display: flex;
  height: 6.4rem;
  font-size: 0;
  align-items: center;
  margin-left: auto;
}

.favo {
  display: inline-block;
  width: 3.1rem;
  height: 3.6rem;
  font-size: 1.4rem;
  line-height: 3.6rem;
  text-align: center;
  color: #e4e7eb;
}

.favo:hover {
  background: #2f353d;
}

.srch-btn {
  display: inline-block;
  height: 3.6rem;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.1rem;
  color: #e4e7eb;
  background-color: #504d56;
  border: 0;
  padding: 0.7rem 1rem 0.6rem 1.5rem;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.srch-btn:hover {
  background: #5d58f5;
}

.icon-search {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 0.3rem;
  transform: scaleX(-1);
}

.site-btn {
  display: inline-block;
  height: 3.6rem;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.1rem;
  color: #e4e7eb;
  background: #2f353d;
  border: 0;
  padding: 0.7rem 1rem 0.6rem 1.5rem;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.site-btn:hover {
  background: #504d56;
}

.icon-up-micro {
  font-size: 1.4rem;
}

.srch-arrow {
  position: absolute;
  right: 13rem;
  top: 3.4rem;
  display: none;
  font-size: 3rem;
  color: #fff;
  transform: rotate(180deg);
  z-index: 9;
}

.srch {
  position: absolute;
  right: 10.5rem;
  top: 6.4rem;
  display: none;
  width: 46.7rem;
  height: 7.9rem;
  box-shadow: 0 0 3rem .5rem rgb(39 43 55 / 25%);
  -webkit-box-shadow: 0 0 3rem .5rem rgb(39 43 55 / 25%);
}

#srch-form {
  display: block;
  padding: 2rem 2rem 1rem 2.9rem;
  background-color: #fff;
}

#srch-form label[for="srch-input"] {
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.012rem;
  color: #747481;
  margin-top: -1rem;
}

#srch-input {
  display: block;
  width: 80%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.95rem;
  color: #504d56;
  border: none;
  outline-style: none;
}

.srch-form__clear {
  position: absolute;
  right: 2.5rem;
  top: 2.2rem;
  display: none;
  height: 3.5rem;
  font-size: 2.5rem;
  color: #5d58f5;
}

.srch-form__clear:hover {
  background-color: #e4e7eb;
}

.elec {
  position: relative;
  display: none;
}

.elec::after {
  content: '';
  display: block;
  height: 20px;
  -webkit-box-shadow: inset 0px 20px 20px -20px rgb(39 43 55 / 25%);
  box-shadow: inset 0px 20px 20px -20px rgb(39 43 55 / 25%);
}

.elec-top {
  background-color: #fff;
  padding: 3rem 0 3.4rem 0;
}

.elec-cate-area {
  display: flex;
  margin-bottom: 5rem;
}

.elec-cate {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(119rem / 5);
  border-right: .1rem solid #d5d5d5;
  margin-right: 2rem;
}

.elec-cate:last-child {
  border-right: 0;
  margin-right: 0;
}

.elec-cate__tit {
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.794rem;
  color: #5d58f5;
  margin-bottom: 1.8rem;
}

.elec-cate__tit .icon-right-open-mini {
  font-size: 1.2rem;
  margin-left: -.7rem;
}

.elec-menu-list {
  display: block;
}

.elec-menu-list>li {
  position: relative;
  display: block;
  padding-left: 1.8rem;
  margin-bottom: 1.4rem;
}

.elec-menu-list>li:last-child {
  margin-bottom: 2.7rem;
}

.elec-menu-list>li>i {
  position: absolute;
  left: 0;
  top: -.4rem;
  font-size: 1rem;
}

.elec-menu-list>li>a {
  display: block;
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #61656A;
  margin-left: 0 0 1rem 1.5rem;
  cursor: pointer;
  translate: all .5s;
}

.elec-menu-list>li>a:hover {
  color: #5d58f5;
}

.elec-cate__all {
  display: block;
  font-size: 1.1rem;
  color: #5d58f5;
  margin-top: auto;
  transition: all .5s;
}

.elec-cate__all:hover {
  color: #3c4c74;
}

.elec-btn-area {
  display: flex;
  justify-content: center;
}

.elec__btn {
  display: block;
  width: 21.752rem;
  height: 4rem;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  background-color: #5865f5;
  padding: 1rem 2.4rem;
  margin: 0 2.5rem
}

.elec__btn .icon-th {
  margin-right: .3rem;
}

.elec-bot {
  background-color: #f1f5f9;
  padding: 3.1rem 0 3.4rem 0;
}

.elec-bot .container {
  display: flex;
}

.elec-bot-cont {
  display: block;
  width: 50%;
}

.elec-bot__img {
  display: block;
  float: left;
  width: 27%;
  height: auto;
  margin-right: 4.9rem;
}

.elec-bot__img img {
  width: 100%;
}

.elec-bot-txt-area {
  display: block;
}

.elec-bot__tit {
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.3rem;
  line-height: 2.64rem;
  color: #3c4c74;
}

.elec-bot__desc {
  display: block;
  font-size: 1.1rem;
  line-height: 2.64rem;
  color: #3c3c42;
}

/* Visual */
.visual {
  position: relative;
  display: block;
}

.visual .container {
  height: 64rem;
  background: url("../images/visual.webp") no-repeat center;
  background-size: cover;
}

.visual-txt-area {
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.visual__model {
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #212530;
}

.visual__txt {
  display: block;
  font-size: 3.8rem;
  letter-spacing: -0.152rem;
  line-height: 4.3rem;
  color: #212530;
  margin: 0 0 2.8rem -0.2rem;
  white-space: nowrap;
}

.visual__btn {
  display: inline-block;
  font-size: 1.3rem;
  color: #fff;
  background: #5865f5;
  padding: 1rem 2.4rem;
  white-space: nowrap;
}

.visual__btn:hover {
  background: #3e59f2;
}

/* THE LATEST */
.latest {
  position: relative;
  display: block;
}

.latest__tit,
.hot__tit,
.news__tit {
  font-family: "SST W01 Bold", "Malgun Gothic", sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: 0.11rem;
  color: #2f353d;
  padding: 5rem 0 2.4rem 0;
}

.latest-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 53rem;
}

.sw-latest {
  display: block;
  height: 49rem;
  overflow: visible;
}

.sw-latest .swiper-slide {
  position: relative;
  width: 32%;
  margin-right: 2%;
  opacity: 1;
  transition: all 0.3s;
}

.sw-latest .swiper-slide:last-child {
  margin-right: 0;
}

.sw-latest .swiper-slide:hover {
  opacity: 0.9;
}

.sw-latest .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.sw-latest .swiper-slide img {
  width: 100%;
  height: 49rem;
}

.sw-latest .swiper-slide--wide {
  width: 65.97%;
}

.sw-latest .swiper-slide--wide img {
  width: 100%;
  height: 49rem;
}

.sw-latest .swiper-slide--blank {
  width: 0;
  margin-right: 0;
  opacity: 0;
}

.sw-latest__txt-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  font-family: "SST W01 Light", "Malgun Gothic", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: -0.12rem;
  color: #fff;
  padding: 4rem 4.5rem;
  white-space: nowrap;
}

.sw-latest__txt-1 span {
  position: relative;
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.sw-latest__txt-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  font-family: "SST W01 Light", "Malgun Gothic", sans-serif;
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 3.4rem;
  letter-spacing: -0.104rem;
  color: #706c7a;
  background: rgba(243, 244, 246, 0.95);
  padding: 1.5rem 4.5rem;
  white-space: nowrap;
}

.sw-latest__txt-2 span {
  position: relative;
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.011rem;
  color: #6f6f7b;
}

.sw-latest__txt-3 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  font-family: "SST W01 Light", "Malgun Gothic", sans-serif;
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 3.4rem;
  letter-spacing: -0.104rem;
  color: #fff;
  padding: 3rem;
  white-space: nowrap;
}

.sw-latest__txt-3 span {
  position: relative;
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.011rem;
  color: #fff;
}

.icon-right-open-big {
  font-size: 1.6rem;
  margin-left: -0.5rem;
}

.sw-latest__txt-3 .icon-right-open-big {
  color: #fff;
}

.sw-latest__txt-4 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  font-family: "SST W01 Light", "Malgun Gothic", sans-serif;
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 3.4rem;
  letter-spacing: -0.104rem;
  color: #bcbccc;
  background: rgba(33, 37, 48, 0.95);
  padding: 2rem 3rem;
}

.sw-latest__txt-4 span {
  position: relative;
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.011rem;
  color: #bcbccc;
}

.sw-latest__txt-4 .icon-right-open-big {
  color: #bcbccc;
}

.sw-latest__txt-5 {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  font-family: "SST W01 Light", "Malgun Gothic", sans-serif;
  font-size: 2.6rem;
  font-weight: 200;
  line-height: 3.4rem;
  letter-spacing: -0.104rem;
  color: #000;
  padding: 3rem;
}

.sw-latest__txt-5 span {
  position: relative;
  display: block;
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.011rem;
  color: #000;
}

.sw-latest__txt-5 .icon-right-open-big {
  color: #000;
}

.sw-latest .swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}

.sw-latest__prev {
  position: absolute;
  left: -8%;
  top: calc(49rem / 2);
  transform: translateY(-50%);
  display: block;
  width: 4.8rem;
  height: 7.6rem;
  color: #fff;
  background: rgba(33, 37, 48, 0.4);
  border-radius: 0.1875rem;
  padding: 2.6rem 0 0 1.3rem;
  cursor: pointer;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.sw-latest__prev:hover {
  background: rgba(33, 37, 48, 0.8);
}

.sw-latest__prev--show {
  visibility: initial;
  opacity: 1;
}

.sw-latest__next {
  position: absolute;
  right: -8%;
  top: calc(49rem / 2);
  transform: translateY(-50%);
  display: block;
  width: 4.8rem;
  height: 7.6rem;
  color: #fff;
  background: rgba(33, 37, 48, 0.4);
  border-radius: 0.1875rem;
  padding: 2.6rem 0 0 1.8rem;
  cursor: pointer;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.sw-latest__next:hover {
  background: rgba(33, 37, 48, 0.8);
}

.sw-latest__next--show {
  visibility: initial;
  opacity: 1;
}

.sw-latest__pg {
  left: 50%;
  bottom: 0 !important;
  transform: translateX(-50%);
}

.sw-latest__pg .swiper-pagination-bullet {
  background: #bcbccc;
  opacity: 1;
  margin: 0 0.5rem 0 0 !important;
}

.sw-latest__pg .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

.sw-latest__pg .swiper-pagination-bullet-active {
  background: #2f353d;
}

/* WHAT'S HOT */
.hot {
  position: relative;
  display: block;
}

.hot .container {
  padding-bottom: 6.4rem;
}

.hot-wrap {
  position: relative;
  display: block;
  height: 61.5rem;
  transition: all 0.5s;
}

.hot-box {
  position: absolute;
  width: 21.8rem;
  height: 29.5rem;
  transition: all 0.5s;
}

.hot-box-1 {
  left: 0;
  top: 0;
  padding: 3.5rem 0 0 4.5rem
}

.hot-box-1 h3 {
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: -.104rem;
  color: #fff;
  padding-bottom: 12rem;
}

.hot-box-1 a {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: #2f353d;
  background-color: #f3f4f6;
  padding: 0 2.4rem;
}

.hot-box-2 {
  left: calc(21.8rem * 2 + 2.5rem * 2);
  top: 0;
}

.hot-box-3 {
  left: 0;
  top: calc(29.5rem + 2.5rem);
}

.hot-box-4 {
  left: calc(21.8rem + 2.5rem);
  top: calc(29.5rem + 2.5rem);
}

.hot-box-5 {
  left: calc(21.8rem * 2 + 2.5rem * 2);
  top: calc(29.5rem + 2.5rem);
}

.hot-box-6 {
  left: calc(21.8rem * 3 + 2.5rem * 3);
  top: 0;
}

.hot-box--x2 {
  width: calc(21.8rem * 2 + 2.5rem);
  background-color: #4f6b85;
}

.hot-box--x4 {
  width: calc(21.8rem * 2 + 2.5rem);
  height: calc(29.5rem * 2 + 2.5rem);
}

.hot-box-2 a,
.hot-box-3 a,
.hot-box-4 a,
.hot-box-5 a,
.hot-box-6 a {
  display: block;
  width: 100%;
  height: 100%;
}

.hot-box-img {
  position: relative;
  height: 15.5rem;
  text-align: center;
  background: #f1f5f9;
  transition: all .3s;
}

.hot-box-6 .hot-box-img {
  height: calc(29.5rem + 2.5rem + 15.5rem);
}

.hot-box-img:hover {
  background: #e7ecf2;
}

.hot-box-img img {
  width: auto;
  height: 100%;
}

.hot-box-img .icon-heart {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.1rem;
  color: #d2d2db;
  padding: 0.5rem .8rem;
}

.hot-box-img .icon-heart:hover {
  color: #f25429;
}

.hot-box__name {
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  word-break: keep-all;
  color: #2f353d;
  margin: 0.5rem 0 2rem 0;
}

.hot-box__name span {
  display: block;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.011rem;
  color: #747481;
}

.hot-box__pri {
  position: absolute;
  bottom: 5rem;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #706c7a;
}

.hot-box__pri em {
  font-family: "SST W01 Medium", "Malgun Gothic", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2.2rem;
  color: #747481;
}

.hot-box-pri {
  font-size: 1rem;
  color: #5d58f5;
}

/* LATEST NEWS */
.news {
  position: relative;
  display: block;
  background-color: #f1f5f9;
  padding-bottom: 6rem;
}

.news__tit {
  padding: 6rem 0 2rem 0;
}

.news-wrap {
  padding-top: 3.5rem;
  border-top: 0.3rem solid #e3e6ea;
}

.sw-news .swiper-wrapper {
  height: 39rem;
}

.sw-news-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.sw-news-text-box {
  font-family: "SST W01 Light", "Malgun Gothic", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 14rem;
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 2.6rem;
  word-break: keep-all;
  color: #bcbccc;
  background-color: #212530;
  padding: 2rem 3rem 10rem 3rem;
  z-index: 9;
}

.sw-news-text-box span {
  position: absolute;
  left: 3rem;
  bottom: 2.5rem;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: #fff;
  transition: all 0.3s;
}

.sw-news-text-box span:hover {
  color: #83838f;
}

.sw-news-link>img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transform: all 0.3s;
}

.sw-news-link:hover>img {
  opacity: 0.9;
}

/* Add-on */
.addon {
  position: relative;
  display: block;
  background: #f0f4f8;
}

.addon-top {
  cursor: pointer;
}

.addon-top .container {
  display: flex;
  justify-content: flex-end;
}

.addon__tit {
  font-size: 1.3rem;
  line-height: 5.5rem;
  color: #2f353d;
}

.addon .icon-up-micro {
  margin: 1.5rem 0 0 -0.3rem;
}

.addon-main {
  border-top: .1rem solid #e4e7eb;
  padding: 3.4rem 0 5rem 0;
}

.addon-main--hide {
  height: 0;
}

.addon-list>li {
  position: relative;
  display: block;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #504d56;
  padding-left: 3.7rem;
  margin-bottom: 2.5rem;
  counter-increment: num;
}

.addon-list>li:last-child {
  margin-bottom: 0;
}

.addon-list>li::before {
  content: counter(num);
  position: absolute;
  left: 0;
  font-weight: 700;
  color: #2f353d;
}

/* Footer */
.footer {
  position: relative;
  display: block;
  padding: 6rem 0 4.4rem;
  background: #1f2024;
}

.footer-top {
  border-bottom: solid .1rem #3c3c42;
  padding-bottom: 2.7rem;
}

.footer-list-dep-1 {
  display: flex;
  width: 100%;
  margin-bottom: 7.4rem;
}

.footer-list-dep-1>li {
  display: block;
  width: 25%;
}

.footer-list-dep-1>li>span {
  display: block;
  font-size: 1.5rem;
  letter-spacing: -0.06rem;
  line-height: 1.8rem;
  color: #878792;
  margin-bottom: 1.8rem;
}

.footer-list-dep-2>li {
  font-size: 0;
}

.footer-list-dep-2>li>a {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #e4e7eb;
  transition: all 0.5s;
}

.footer-list-dep-2>li>a:hover {
  color: #878792;
}

.footer-etc {
  display: flex;
  width: 100%;
}

.footer__lang {
  position: relative;
  display: inline-block;
  width: 19.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 3.8rem;
  color: #fff;
  background: #3c3c42;
  padding: 0 1.2rem;
  margin-right: auto;
  transition: all .5s;
}

.footer__lang:hover {
  background: #504d56;
}

.footer__lang::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1.4rem;
  vertical-align: -.3rem;
  background: url('../images/flag.png') no-repeat -10.03rem -1.42rem;
  margin-right: 1rem;
}

.footer-etc-menu {
  display: block;
  float: left;
  font-size: 0;
}

.footer-etc-menu a {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3.8rem;
  color: #e4e7eb;
  margin-left: 1.56rem;
}

.footer-etc-menu a:hover {
  color: #878792;
}

.footer-sns-area {
  position: relative;
  display: flex;
  float: left;
  margin-left: 2.4rem;
}

.sns-box {
  position: absolute;
  left: 50%;
  bottom: 5.2rem;
  transform: translateX(-50%);
  display: none;
  width: 26rem;
  min-height: 13.5rem;
  text-align: left;
  background: rgba(255, 255, 255, .95);
  padding: 2.5rem;
  cursor: initial;
}

.sns-box__close {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 3.6rem;
  height: 3.2rem;
  font-size: 1.3rem;
  line-height: 3.2rem;
  text-align: center;
  color: #fff;
  background: #3c3c42;
  cursor: pointer;
  transition: all .5s;
}

.sns-box__close:hover {
  background: #2f353d;
}

.sns-box-cont {
  display: none;
}

.sns-box__tit {
  display: block;
  font-size: 1.6875rem;
  line-height: 1.46667;
  letter-spacing: -.072rem;
  color: #706c7a;
  margin-bottom: 2.3rem;
}

.sns-box__yt {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #fff;
  background: #e52117;
  border-radius: .3rem;
  padding-left: .7rem;
  border: 1px solid #ccc;
}

.sns-box__yt img {
  margin-right: .3rem;
}

.sns-box__yt em {
  font-size: 1.1rem;
  font-style: normal;
  line-height: 2.4rem;
  color: #999;
  background: #fff;
  border-radius: 0 .3rem .3rem 0;
  padding: .7rem .55rem .65rem .3rem;
}

.sns-box__fb {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #fff;
  background: #1877f1;
  border-radius: .3rem;
  padding: 0 .7rem;
  border: 1px solid #ccc;
}

.sns-box__link {
  display: block;
  font-size: 1.25rem;
  color: #7494ef;
  padding: 1.5rem 0 .3rem 0;
}

.sns-box-cont--i .sns-box__link {
  display: block;
  font-size: 1.1rem;
  line-height: 1;
  text-align: center;
  color: #fff;
  background: #507da2;
  padding: .85rem 0;
}

.sns-box__arrow {
  position: absolute;
  left: 50%;
  bottom: -3.5rem;
  transform: translateX(-50%);
  font-size: 3.5rem;
  color: rgba(255, 255, 255, .95);
}

.footer__sns {
  position: relative;
  display: inline-block;
  width: 3.6rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  background: #3c3c42;
  margin-left: .2rem;
  cursor: pointer;
}

.footer__sns--y:hover {
  background: #ef3c39;
}

.footer__sns--f:hover {
  background: #3b5b99;
}

.footer__sns--i:hover {
  background: #507da2;
}

.footer__sns>i {
  font-size: 2rem;
  color: #fff;
  vertical-align: -.3rem;
}

.footer-bot {
  padding-top: 3.4rem;
  height: 20.8rem;
}

.copy {
  display: block;
  font-size: 1rem;
  line-height: 1.65rem;
  color: #878792;
  margin-bottom: .4rem;
}

.legal {
  display: block;
  font-size: 0;
  margin-bottom: 1.2rem;
}

.legal a {
  font-size: 1rem;
  line-height: 1.46667rem;
  color: #e4e7eb;
  margin-right: 1rem;
  transition: all .5s;
}

.legal a:hover {
  color: #878792;
}

.legal a em {
  font-style: normal;
  color: #dc3a1a;
  transition: all .5s;
}

.legal a em:hover {
  color: #878792;
}

.addr {
  display: block;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.65rem;
  color: #878792;
}

.addr a {
  color: #e4e7eb;
  transition: all .5s;
}

.addr a:hover {
  color: #878792;
}

@media screen and (max-width: 980px) {}